{% extends "index/layout.html" %}
	 
	    {% block title %}个人主页{% endblock %}
	    {% block css %}
	        .b-content{
	        	width: 100%;
	        	height: 1200px;
	        	background: #333;
	        }
	    	.header{
				width: 1280px;
				height: 160px;
				margin: 0 auto;
				background: url(../../static/img/banner.gif) no-repeat center;
			    background-size: 100%;
			}
			.top-banner{
				width: 1276px;
				height: 100px;
				margin: 0 auto;
			}
			.top .top-message{
				width: 1280px;
				height: 60px;
				background-color: darkgrey;
				float: left;
				margin: 0 auto;
			}
			.content-down{
				width: 1280px;
				height: 900px;
				position: relative;
				margin: 0 auto;
			}
			.top-message .tip{
				position: relative;
				height: 60px;
				font-size: 18px;
				display: inline-block;
				color: #030303;
				text-decoration: none;
				line-height: 60px;
                padding: 0 30px;
                border-right: 1px solid #EDEDED;
			}
			.item .a-img{
				width: 310px !important;
				height: 400px !important;
				display: block;
				float: left;
				position: relative;
			}
			.qianm{
				float: right;
			}
	    {% endblock %}
{% block content %}
    <div class="b-content">
	    <div class="header">
			<div class="top-banner">
		          
			</div>
			<div class="top-message">
				<a class="tip" href="#">收集数</a>
				<a class="tip" href="#">关注</a>
			</div>	
		</div>
		<div class="content-down waterfull">
			<ul>
				<li class="item">
					<a href="#" class="a-img">
						<img src="{{ url_for('static', filename='images/t8.jpg') }}" alt="">
						
					</a>
					<div class="qianm clearfloat">
					<span class="button-wrap">
                       <button class="button button-circle">
                        <i class="fa fa-cloud">
                        	<img src="../../static/img/lotus.png" />
                        </i>
                       </button>
                    </span>
					</div>
				</li>
                <li class="item">
					<a href="{{ url_for('static', filename='images/t8.jpg') }}" class="a-img">
						<img src="{{ url_for('static', filename='images/t8.jpg') }}" alt="">
						
					</a>
					<h2 class="li-title" title="手把手教你用css3来创建loading动画(二)">手把手教你用css3来创建loading动画(二)</h2>
					<p class="description">HTML 5以前的标准由于考虑到浏览器安全问题并不允许直接跨域通信并不允许直接跨域通信并不允许直接跨域通信，于...</p>
					<div class="qianm clearfloat">
					<span class="button-wrap">
                       <button class="button button-circle">
                        <i class="fa fa-cloud">
                        	<img src="../../static/img/lotus.png" />
                        </i>
                       </button>
                    </span>
					</div>
				</li>
                <li class="item">
					<a href="{{ url_for('static', filename='images/t7.jpg') }}" class="a-img">
						<img src="{{ url_for('static', filename='images/t7.jpg') }}" alt="">
					</a>
					<h2 class="li-title" title="手把手教你用css3来创建loading动画(二)">手把手教你用css3来创建loading动画(二)</h2>
					<p class="description">HTML 5以前的标准由于考虑到浏览器安全问题并不允许直接跨域通信并不允许直接跨域通信并不允许直接跨域通信，于...</p>
					<div class="qianm clearfloat">
					<span class="button-wrap">
                        <button class="button button-circle">
                         <i class="fa fa-cloud">
                         	<img src="../../static/img/lotus.png" />
                         </i>
                        </button>
                    </span>
					</div>
				</li>
                <li class="item">
					<a href="{{ url_for('static', filename='images/t9.jpg') }}" class="a-img">
						<img src="{{ url_for('static', filename='images/t9.jpg') }}" alt="">
						
					</a>
					<h2 class="li-title" title="手把手教你用css3来创建loading动画(二)">手把手教你用css3来创建loading动画(二)</h2>
					<p class="description">HTML 5以前的标准由于考虑到浏览器安全问题并不允许直接跨域通信并不允许直接跨域通信并不允许直接跨域通信，于...</p>
					<div class="qianm clearfloat">
					  <span class="button-wrap">
                        <button class="button button-circle">
                         <i class="fa fa-cloud">
                         	<img src="../../static/img/lotus.png" />
                         </i>
                        </button>
                      </span>
					</div>
				</li>
                <li class="item">
					<a href="{{ url_for('static', filename='images/t3.jpg') }}" class="a-img">
						<img src="{{ url_for('static', filename='images/t3.jpg') }}" alt="">
						
					</a>
					<h2 class="li-title" title="手把手教你用css3来创建loading动画(二)">手把手教你用css3来创建loading动画(二)</h2>
					<p class="description">HTML 5以前的标准由于考虑到浏览器安全问题并不允许直接跨域通信并不允许直接跨域通信并不允许直接跨域通信，于...</p>
					<div class="qianm clearfloat">
					  <span class="button-wrap">
                       <button class="button button-circle">
                        <i class="fa fa-cloud">
                        	<img src="../../static/img/lotus.png" />
                        </i>
                       </button>
                      </span>
					</div>
				</li>
                <li class="item">
					<a href="{{ url_for('static', filename='images/t6.jpg') }}" class="a-img">
						<img src="{{ url_for('static', filename='images/t6.jpg') }}" alt="">
						
					</a>
					<h2 class="li-title" title="手把手教你用css3来创建loading动画(二)">手把手教你用css3来创建loading动画(二)</h2>
					<p class="description">HTML 5以前的标准由于考虑到浏览器安全问题并不允许直接跨域通信并不允许直接跨域通信并不允许直接跨域通信，于...</p>
					<div class="qianm clearfloat">
					<span class="button-wrap">
                       <button class="button button-circle">
                        <i class="fa fa-cloud">
                        	<img src="../../static/img/lotus.png" />
                        </i>
                       </button>
                    </span>
					</div>
				</li>
		</div>
    </div>
{% endblock %}