{% extends "index/layout.html" %}
	
		   {% block title %}上传页{% endblock %}
		    {% block css %}
		   .upload{
				width: 500px;
				height: 400px;
				margin: 100px auto;
				border:solid;
				border-color: rgba(100,100,100,0.8);
			}
			.upload-up{
				width: 100%;
				height: 300px;
				line-height: 300px;
				text-align: center;
			}
			.upload-but a{
				width: 100%;
                height: 100px;
                line-height: 100px;
                text-align: center;
                background: #d8b49c;
                display: block;
                font-size: 16px;
               border-radius: 5px;
               float: left;
               position: relative;
               text-decoration: none;
               color: black;
			}
		 {% endblock %}
{% block content %}
		<div id="" class="upload">
			<div id="" class="upload-up">
				<img src="img/d18296f485f22eba10aedb286d93ff35dc3a602c1cbc-78MqIo_fw658.png" />
			</div>
			<span id="" class="upload-but ">
				<a href="upload-2.html">上传</a>
			</span>
			
		</div>
{% endblock %}
