{% extends "index/layout.html" %}
		 {% block title %}上传{% endblock %}
		 {% block css %}
		.preview{
			width: 500px;
		    height: 400px;
			margin: 100px auto;
			border:solid;
			border-color: rgba(100,100,100,0.8);
		}
		.preview-left{
			width: 200px;
			height: 100%;
			float: left;
		}
		.upload-but{
				width: 100%;
                height: 80px;
                line-height: 100px;
                text-align: center;
                background: #d8b49c;
                display: block;
                font-size: 16px;
               border-radius: 5px;
               float: left;
               position: relative;
			}
		.preview-right{
			width: 280px;
			height:420px;
			float: right;
		}
		.preview-right-top{
			width: 300px;
			height: 180px;
			float: right;
			line-height: 180px;
			text-align: center;
		}
		.preview-right-bottom{
			width: 300px;
			height: 220px;
			float: right; 
			text-align: center;
		}

        .upload_pic{
				display: block;
                width: 100%;
                height: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                border-radius: 5px;
			}
			.preview-right p{
				font-size: 12px;
			}
			
	 {% endblock %}
	<script type="text/javascript">
	 {% block js %}
    function imgPreview(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("preview-img");
            //图片路径设置为读取的图片
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
</script>
{% endblock %}
{% block content %}
		<div id="" class="preview">
			<span  class="upload-but ">选择文件
				<input type="file"  class="upload_pic" id="upload" onchange="imgPreview(this)"/>
			</span>
			 
			<div id="" class="preview-left">
				<img id="preview-img" width="200" height="200"/>
			</div>
			<div id="" class="preview-right">
				<div id="" class="preview-right-top">
					<p>添加标题：<input type="text" name="" id="" value="" /></p>
				</div>
				<div id="" class="preview-right-bottom">
					<p>添加描述：<input type="text" name="" id="" value="" /></p>
				<input type="submit" name="" id="" value="确定" />
				</div>
			</div>
		</div>
{% endblock %}